.testb{
	
}
body{
	background-image:url("Imagenes/Fondo.JPG") ;
	background-size: 100% ;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	
	
}
#titulo{
	font-size: px;
	font-family: bold;
}
.subtitulo{
	text-align: center;
	font-size: 50px;
  	justify-content: center;	  
	padding: 1px; 
	background: rgba(230,235,255,0.50);

}
table, th,td,caption{
	border: 2px solid black;
	border-collapse: collapse ;

}
caption{
	font-size: 50px;
	font-family: bold;
}
td{
	font-size: 19px;
	font-family:  bold;
	padding: 5px;
}
th{
	font-size: 25px;
	padding: 10px;
}



